
.wishlist-list{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    

}
.wishlist-item{
    height: 450px;
    position: relative;
    width: 400px;
    color: black;
    overflow-y: scroll;
    scrollbar-width:none;
}
.wishlist-item img{
    height: 30%;
}
.wishlist_btns{
    display:flex;
    align-items:center;
}
.s_btn2{
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}