.admin-navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #333;
    color: white;
  }
  
  .admin-navbar h1 {
    margin: 0;
  }
  
  .admin-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .admin-navbar li {
    margin-left: 20px;
  }
  
  .admin-navbar a {
    color: white;
    text-decoration: none;
  }
  
  .admin-navbar a:hover {
    text-decoration: underline;
  }
  