body{
  font-family: Arial, sans-serif;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #f5f5f5; /* Typical furniture website background */
  color: black;
  flex-wrap: wrap;
}



.footer-section {
  flex: 1;
  min-width: 250px; /* Makes it responsive */
  margin: 10px 20px;
}

.footer-logo img {
  max-width: 100px; /* Adjust as needed */
  margin-bottom: 10px;
}

.footer h3 {
  margin-bottom: 15px;
}

.footer p,
.footer a {
  color: black;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
  }
}
